@font-face {
  font-family: "vitro-core";
  src: url("/fonts/VITRO CORE TTF.ttf");
}
@font-face {
  font-family: "KIMM_Bold";
  src: url("/fonts/한국기계연구원_bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "KIMM_Light";
  src: url("/fonts/한국기계연구원_Light.ttf");
  font-weight: 0;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}

body,
html {
  background-color: #222;
}

:root {
  font-family: "KIMM_Light", "vitro-core";
}

input:focus {
  outline: none;
}

button {
  padding: 8px 12px;
  border-radius: 4px;
  display: block;
  background: none;
}
